.profile {
  display: flex;
  background-color: rgb(29, 64, 129);
  padding: 16px;
  box-shadow: 1px 1px rgb(33, 72, 145), -1px 1px rgb(33, 72, 145);
  border-radius: 8px;
  margin-bottom: 24px;
  flex-direction: column;
  max-width: 100%;

  span {
    color: #f0f0f0;
  }

  .profile__info-container {
    display: flex;
    flex-direction: column;

    .avatar {
      max-height: 100%;
      max-width: 100%;
      border-radius: 50%;
      padding: 10%;
    }

    .profile__info {
      margin-bottom: 12px;

      div {
        display: flex;
        align-items: center;
        max-width: 100%;
        overflow-x: auto;

        span {
          font-size: 14px;

          &:first-child {
            font-weight: bold;
            margin-right: 6px;
          }
        }
      }
    }
  }

  .pieChart {
    display: none;
  }

  .graphLangs {
    display: flex;
    justify-content: center;
    align-items: start;
    max-height: 200px;
    width: 100%;
    flex-wrap: wrap;
    overflow-x: auto;

    div {
      margin-right: 1rem;

      svg {
        height: 12px;
        width: 12px;
      }

      span {
        font-size: 10px;
        margin-left: 8px;
      }
    }
  }
}

@media (min-width: 576px) {
  .profile {
    .graphLangs {
      div {
        span {
          font-size: 12px;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .profile {
    .profile__info-container {
      flex-direction: row;
      justify-content: space-around;
      margin-bottom: 24px;

      .avatar {
        max-width: 10rem;
        max-height: 10rem;
        padding: 0;
      }

      .profile__info {
        div {
          span {
            font-size: 16px;
          }
        }
      }

      .graphLangs {
        div {
          svg {
            height: 14px;
            width: 14px;
          }

          span {
            font-size: 14px;
          }
        }
      }
    }
  }
}

@media (min-width: 992px) {
  .profile {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

    .profile__info-container {
      justify-content: flex-start;
      margin-bottom: 4rem;

      .avatar {
        margin-right: 4rem;
      }

      .profile__info {
        div {
          span {
            font-size: 16px;
          }
        }
      }
    }

    .pieChart {
      display: block;
    }

    .graphLangs {
      div {
        svg {
          height: 14px;
          width: 14px;
        }

        span {
          font-size: 14px;
        }
      }
    }
  }
}

@media (min-width: 1200px) {
  .profile {
    .profile__info-container {
      .avatar {
        max-width: 13rem;
        max-height: 13rem;
      }

      .profile__info {
        div {
          span {
            font-size: 20px;
          }
        }
      }
    }

    .graphLangs {
      div {
        svg {
          height: 16px;
          width: 16px;
        }

        span {
          font-size: 16px;
        }
      }
    }
  }
}
