.title {
  font-size: 32px;
  font-weight: bold;
  padding: 48px;
  text-align: center;
}

.search {
  width: 100%;
  margin: 0 auto 80px;
  text-align: center;
  padding: 24px;
  border-radius: 20px;
  background-color: rgb(45, 69, 168);
  box-shadow: 2px 2px rgb(66, 87, 170), -2px 2px rgb(66, 87, 170);

  form {
    display: flex;
    justify-content: center;
    margin: 24px auto;
    width: 100%;

    .form-control {
      border-radius: 4px;
      outline: none;
      border: none;
      max-width: 75%;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    .btn {
      background-color: rgb(106, 128, 216);
      border-radius: 0 4px 4px 0;
      border: none;
      outline: none;
    }
  }
}

@media (min-width: 426px) {
  .search {
    width: 75%;
  }
}

@media (min-width: 768px) {
  .search {
    width: 50%;
  }
}

@media (min-width: 992px) {
  .search {
    width: 35%;
  }
}
@media (min-width: 1400px) {
  .search {
    width: 30%;
  }
}